.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1557683316-973673baf926")
    no-repeat center/cover;
}

.glass-card {
  width: 460px;
  padding: 70px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}

.glass-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.glass-card label {
  font-size: 14px;
  margin-top: 15px;
  display: block;
}

.glass-card input,
.glass-card select {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 8px 0;
  outline: none;
}

.glass-card option {
  color: black;
}

.glass-card button {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
